* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: white;
}

/* 🔝 TOP BAR */
.top-bar {
  background:#a6c73a;
  padding: 10px 0;
  font-size: 14px;
}

.top-bar .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

/* 🔹 NAVBAR */
.navbar {
  position: absolute;
  width: 100%;
  top: 40px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

nav a.active {
  border-bottom: 2px solid #a6c73a;
}

/* 🔹 HERO SECTION */
.hero {
  height: 100vh;
  background: url('ff.jpg') no-repeat center/cover;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 500px;
}

.hero-content h4 {
  color: #a6c73a;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #a6c73a;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}