/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --main-green: #a4c639;
    --dark-bg: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Top Bar */
.top-bar {
    background-color: var(--main-green);
    color: white;
    padding: 10px 0;
    font-size: 14px;
}

.social-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: linear-gradient(var(--dark-bg), var(--dark-bg)), 
                url('ff.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

/* Navbar */
.navbar {
    padding: 30px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a.active {
    border-bottom: 3px solid var(--main-green);
    padding-bottom: 5px;
}

.one:hover{ color: #a4c639
}
.two:hover{ color: #a4c639;
}
.three:hover{ color: #a4c639;
}
.four:hover{color: #a4c639;
}
/* Hero Text Content */
.hero-text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
}

.hero-text h5 {
    color: var(--main-green);
    font-size: 18px;
    margin-bottom: 15px;
}

.hero-text h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 16px;
    opacity: 0.9;
}

.btn {
    background-color: var(--main-green);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    color: #a4c639;
    background-color: #ffffff;
}
.footer-callback {
  background-color: white;
  color: #fff;
  padding: 40px 20px;
  text-align: center;

}

.footer-content  {
  font-size: 1.2rem;
  margin-bottom: 15px;
  background-color: #a4c639;
  color: white;
  padding: 30px 0;
  
}
.foot {margin-left: 100px;}


.callback-button {
    background-color: var(--main-green);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
     margin-left: 1000px;
     border-color: white;
      
}

.callback-button:hover {
    color: #a4c639;
    background-color: #ffffff;
}


